//container
.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;

    &-fluid {
        width: 100%;
    }
}

//buttons
.btn {
    padding: 12px 40px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-size: $fs-18;
    font-weight: $fw-700;

    &-primary {
        background-color: $button-color;
        color: #fff;
    }
}

//fonts
.fs-12 {
    font-size: 12px;
}
.fs-14 {
    font-size: 14px;
}
.fs-16 {
    font-size: 16px;
}
.fs-18 {
    font-size: 18px;
}
.fs-32 {
    font-size: 32px;
}
.fw-400 {
    font-weight: 400;
}
.fw-700 {
    font-weight: 700;
}