@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

//colors
$button-color: #204080;
$button-hover-color: #4F75C2;
$input-border-color: #204080;
$border-color: #484848;
$footer-color: #294E98;

//fonts
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-32: 32px;
$fw-400: 400;
$fw-700: 700;
